body, button {
  font-family: "Spectral SC", serif;
}

/* removes the ugly blue colour on focus */
button:focus {
  outline: 0;
}

.dropdownbtn {
    /* background-color: #87bba2; */
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
    /* makes the cursor look like a wee hand */
    cursor: pointer;
}

.dropdownbtn:hover, .dropdownbtn:focus {
    background-color: #D3E6DD;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;

    /* overflow: auto; */
  /* awesome shadow effect */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
/* z-index indicates the stack order of elements. greater = in front of lower. only works if element is
positioned = absolute/relative/fixed */
    z-index: 0;
    -webkit-transition: visibility 0.5s ease-in 0.5s, opacity 0.5s ease-in;
}

.show {
  z-index: 1;
  visibility: visible;
  opacity: 1;
  /* makes the menu persist until user clicks somewhere else */
  transition-delay: 0s;
}

.dropdown-content a {
    color: black;
    padding: 15px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
  background-color: #f1f1f1
}
